*{
    padding: 0;
    margin: 0 5px;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: orange;
   margin: 2px 0px;
   border-radius: 40px;
}
/* NAVBAR ITEMS */
.logo img{
    width: 4vw;
    border-radius: 50%;
    margin: 5px;
}
.lists{
    flex-grow: 1;
    margin-left: 5px;
}
.lists ul{
    list-style-type: none;
    display: flex;
}
.lists ul li a{
      text-decoration: none;
      list-style-type: none;
      padding: 10px 10px;
      margin: 3px;
      border: 1px solid black;
      border-radius: 20px;
      font-size: 1.2em;
      color: white;
}
.logindrp , .signup {
    margin: 5px;
}
.logindrp button , .signup button{
         border-radius: 20px;
         padding: 8px;
    background-color: #ffead7;
}
.button:hover{
    background-color: rgb(255, 100, 10);
    color: black;
    padding: 10px 10px;
    margin: 3px;
    border: 2px solid black;
    border-radius: 20px;
}
.container{
    height: 300px;
    border-radius: 20px;
    margin-top: 10px;
    padding: 5px;
}
.container h2{
    padding: 10px;
}
.container-inner{
    background-color: blueviolet;
    height: 200px;
    border-top-left-radius:20px ;
    border-top-right-radius:20px ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.box{
    height:150px;
    width: 145px;
    background-color: aqua;
    margin: 5px;
    border-radius: 10px;

}
.innerdiv{
    background-color: grey;
    border-top-left-radius:20px ;
    border-top-right-radius:20px ;
    height: 100px;
    width: 145x;
}